@import "tailwindcss";
@import "tw-animate-css";

@theme {

  /* Fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;

  /* bg colors */
  --color-primary: #10B981;
  --color-primary-dark: #059669;
  --color-dark: #111827;
  --color-gray-light: #F3F4F6;

  /* utilits */
  --color-text-body: #4B5563;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-white);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
